@font-face{
    font-family: "FIFA Welcome";
    src: url("img/fonts/fifawelcome.ttf");
}

body{
    background: radial-gradient(at top, #000000 ,#2E4053 );
    width: 100%;
    max-width: 100%;
}
.logo{
    z-index: 0;
}
.navbar{ z-index: 1;    position: static; font-family: "FIFA Welcome"; font-size: 18px}
.btn{
    font-family: "FIFA Welcome"; font-size: 20px; 
}
.bg-light{
    background: linear-gradient(#0d0f13 ,#2E4053 );
    border-radius: 25px;
}
.nav-item{
    padding: 0px 20px;
}
.nav-item:first-child{
    border-right: #2E4053 solid 1px;
}
.pc{
    animation: pc_animacion ease-in-out infinite 4s;
}
@keyframes pc_animacion{
    0%{ transform: translateY(-10%);}
    50%{ transform: translateY(0%);}
    100%{ transform: translateY(-10%);}
}
.img{
    animation: imagenes_animacion ease-in-out infinite 4s;
}
@keyframes imagenes_animacion{
    0%{ transform: translateY(-5%);}
    50%{ transform: translateY(0%);}
    100%{ transform: translateY(-5%);}
}
.container1{
    margin: auto;
    width: 100%;
    max-width: 900px;
}
.container2{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "FIFA Welcome";
    width: 100%;
    max-width: 100%;
    padding: 20px;
}
.Informacion{
    display: flex;
}
.izquierda{
    text-align: left;
}
.derecha{
    text-align: right;
    width: 100%;
    max-width: 1000px;
}
footer{
    margin: auto;
    width: 100%;
    max-width: 100%;
    background: whitesmoke;
    font-family: "FIFA Welcome";
    font-size: 20px;
    color: black;
    padding-bottom: 20px;
}

.pie{
    margin: auto;
    background-color: black;
    width: 30%;
    max-width: 300px;
}